
<div class="account-page">
    <div class="container1">
        <div class="form-container">
            <div class="form-btn">
                <span onclick="register()">Register</span>
                <hr id="Indicator">
            </div>
            <form id="RegForm">
                <input type="text" placeholder="Username">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
    </div>
</div>
 