@using BilliWebApp.Models.Identity
@model RegisterModel

<div class="account-page">
    <div class="container1">
        <div class="form-container">
            <div class="form-btn">
                <span onclick="register()">Register</span>
                <hr id="Indicator">
            </div>
            <form asp-action="Register" id="RegForm">
                <input asp-for="Username" type="text" placeholder="Username">
                <input asp-for="Email" type="email" placeholder="Email">
                <input asp-for="Password" type="password" placeholder="Password">
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
    </div>
</div>
 