@using BilliWebApp.Models.Motorcycle
@model Motorcycle

<!-------------- single product details ----------->
<div class="small-container single-product">
    <div class="row0">
        <div class="col-2">
            <img src="../images/NINJA H2® SX SE(1).jpg" width="100%" id="ProductImg">
        </div>
        <div class="col-2">
            <p>Home / Motorcycle</p>
            <h1>@Model.Name</h1>
            <h4>@Model.Price</h4>
            <input type="number" value="1">
            <a href="" class="btn">Add To Cart</a>
            <h3>Product Details</h3>
            <br>
            <p>@Model.Details</p>
        </div> 
    </div>
</div>

<!-------------- title ----------->
<div class="small-container">
    <div class="row0 row-2">
        <h2>Related Products</h2>
        <p>View More</p>
    </div>
</div>

<!-------------- related products ----------->
<div class="small-container">
    <div class="row0">
        <div class="col-4">
            <img src="../images/NINJA H2®.jpg">
            <h4>NINJA H2®</h4>
            <p>$30,500</p>
        </div>
        <div class="col-4">
            <img src="../images/NINJA H2®R.jpg">
            <h4>NINJA H2®R</h4>
            <p>$56,500</p>
        </div>
        <div class="col-4">
            <img src="../images/NINJA® 400.jpg">
            <h4>NINJA® 400</h4>
            <p>$5,799</p>
        </div>
        <div class="col-4">
            <img src="../images/NINJA® 650.jpg">
            <h4>NINJA® 650</h4>
            <p>$8,499</p>
        </div>
    </div>
</div>

