@using BilliWebApp.Models.Motorcycle
@model List<Motorcycle>

<div class="small-container">
    <div class="row0 row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort by price</option>
            <option>Sort by popularity</option>
        </select>
    </div>

    <div class="row0">
        @foreach (var item in Model)
        {
            <a asp-controller="Motorcycle" asp-action="ProductDetails" asp-route-id="@item.ID">
                <div class="col4">
                    <img src="@item.ImgURL" style = "width = 15 vw">
                    <h4>@item.Name</h4>
                    <p>@item.Price</p>
                </div>
            </a>
        }
    </div>

    <div class="page-btn">
        <span>LOAD MORE</span>
    </div>

    <div>
        <a asp-controller="Motorcycle" asp-action="AddProduct">
            <h2>Add</h2>
        </a>
    </div>
</div>
