

<!-------------- cart items details ----------->
<div class="small-container">

    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/NINJA H2® SX SE(1).jpg">
                    <div>
                        <p>NINJA H2® SX SE</p>
                        <small>Price: $27,500</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$27,500</td>
        </tr>

        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/NINJA H2®.jpg">
                    <div>
                        <p>NINJA H2®</p>
                        <small>Price: $30,500</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$30,500</td>
        </tr>

        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/NINJA H2®R.jpg">
                    <div>
                        <p>NINJA H2®R</p>
                        <small>Price: $56,500</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$56,500</td>
        </tr>

    </table>

    <div class="total-price">

        <table>
            <tr>
                <td>Subtotal</td>
                <td>$...</td>

            </tr>
            <tr>
                <td>Tax</td>
                <td>$...</td>

            </tr>
            <tr>
                <td>Total</td>
                <td>$...</td>

            </tr>
        </table>

    </div>

</div>

