<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="index.html"><img src="../images/logo2.png" width="140px" alt=""></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li> <a href="index.html">Home</a> </li>
                <li> <a href="products.html">Products</a> </li>
                <li> <a href="about.html">About</a> </li>
                <li> <a href="contact.html">Contact</a> </li>
                <li> <a href="account.html">Acount</a> </li>
            </ul>
        </nav>
        <a href="cart.html"><img src="../images/cart.png" width="30px" height="30px"></a>
        <img src="../images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
</div>

<!-------------- cart items details ----------->
<div class="small-container">

    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/NINJA H2® SX SE(1).jpg">
                    <div>
                        <p>NINJA H2® SX SE</p>
                        <small>Price: $27,500</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$27,500</td>
        </tr>

        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/NINJA H2®.jpg">
                    <div>
                        <p>NINJA H2®</p>
                        <small>Price: $30,500</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$30,500</td>
        </tr>

        <tr>
            <td>
                <div class="cart-info">
                    <img src="../images/NINJA H2®R.jpg">
                    <div>
                        <p>NINJA H2®R</p>
                        <small>Price: $56,500</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$56,500</td>
        </tr>

    </table>

    <div class="total-price">

        <table>
            <tr>
                <td>Subtotal</td>
                <td>$...</td>

            </tr>
            <tr>
                <td>Tax</td>
                <td>$...</td>

            </tr>
            <tr>
                <td>Total</td>
                <td>$...</td>

            </tr>
        </table>

    </div>

</div>



<!-------------- footer ----------->
<div class="footer">
    <div class="container-2">
        <div class="row0">
            <div class="footer-col-1">
                <ul>
                    <li> <a href="about.html">ABOUT US</a> </li>
                    <li> <a href="privacy.html">PRIVACY POLICY</a> </li>
                    <li> <a href="contact.html">CONTACT</a> </li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">© Copyright 2021 - Billi</p>
    </div>
</div>
