<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="index.html"><img src="../images/logo2.png" width="140px" alt=""></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li> <a href="index.html">Home</a> </li>
                <li> <a href="products.html">Products</a> </li>
                <li> <a href="about.html">About</a> </li>
                <li> <a href="contact.html">Contact</a> </li>
                <li> <a href="account.html">Acount</a> </li>
            </ul>
        </nav>
        <a href="cart.html"><img src="../images/cart.png" width="30px" height="30px"></a>
        <img src="../images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
</div>



<!-------------- footer ----------->
<div class="footer">
    <div class="container-2">
        <div class="row0">
            <div class="footer-col-1">
                <ul>
                    <li> <a href="about.html">ABOUT US</a> </li>
                    <li> <a href="privacy.html">PRIVACY POLICY</a> </li>
                    <li> <a href="contact.html">CONTACT</a> </li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">© Copyright 2021 - Billi</p>
    </div>
</div>
