<div class="header">
    <div class="container-1">
        <div class="row0">
            <div class="col2">
                <h1>THE BMW R 1250 RS</h1>
                <h2>THE JOURNEY IS BETTER SHARED</h2>
                <a href="" class="btn">DISCOVER MORE &#8594;</a>
            </div>
            <div class="col2">
                <img src="../images/img.png" alt="">
            </div>
        </div>
    </div>
</div>

<!-------------- featured products ----------->
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row0">
        <div class="col4">
            <a href="product-details.html"><img src="../images/NINJA® 400.jpg"></a>
            <a href="product-details.html"><h4>NINJA® 400</h4></a>
            <p>$5,799</p>
        </div>
        <div class="col4">
            <img src="../images/NINJA® 650.jpg">
            <h4>NINJA® 650</h4>
            <p>$8,499</p>
        </div>
        <div class="col4">
            <img src="../images/NINJA® 1000SX.jpg">
            <h4>NINJA® 1000SX</h4>
            <p>$12,899</p>
        </div>
        <div class="col4">
            <img src="../images/NINJA® ZX™-6R.jpg">
            <h4>NINJA® ZX™-6R</h4>
            <p>$10,799</p>
        </div>
    </div>

    <!-------------- latest products ----------->
    <h2 class="title">Latest Products</h2>
    <div class="row0">
        <div class="col4">
            <img src="../images/NINJA® ZX™-10R.jpg">
            <h4>NINJA® ZX™-10R</h4>
            <p>$18,199</p>
        </div>
        <div class="col4">
            <img src="../images/NINJA® ZX™-14R ABS.jpg">
            <h4>NINJA® ZX™-14R ABS</h4>
            <p>$15,599</p>
        </div>
        <div class="col4">
            <img src="../images/Z H2.jpg">
            <h4>Z H2</h4>
            <p>$18,000</p>
        </div>
        <div class="col4">
            <img src="../images/Z125 PRO.jpg">
            <h4>Z125 PRO</h4>
            <p>$3,399</p>
        </div>
    </div>
</div>

<!-------------- brands ----------->
<div class="brands">
    <div class="small-container">
        <div class="row0">
            <div class="col5">
                <img src="../images/bmw-logo.png">
            </div>
            <div class="col5">
                <img src="../images/ducati-logo.png">
            </div>
            <div class="col5">
                <img src="../images/honda-logo.png">
            </div>
            <div class="col5">
                <img src="../images/kawasaki-logo.jpg">
            </div>
            <div class="col5">
                <img src="../images/suzuki-logo.png">
            </div>
        </div>
    </div>
</div>



